@charset "UTF-8";

/* Accordion styles */
.accordion-tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
  /* :checked */
  /* Icon styles*/
}

.accordion-tab .accordion-tab-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.accordion-tab .accordion-tab-label {
  position: relative;
  display: block;
  padding: 0 0 0 3em;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.accordion-tab .accordion-tab-content {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  /* delay visibility transition */
  transition: max-height 0.35s, visibility 0.35s linear 0.35s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/** 2nd level (and recrusive) **/
.accordion-tab .accordion-tab-content .accordion-tab {
  padding: 10px;
  margin: 2px 0px;
  border-radius: 3px;
}

.accordion-tab .accordion-tab-content .accordion-tab label {
  border-radius: 0;
}

.accordion-tab .tab-inner {
  padding: 1px 0 0;
}

.accordion-tab .tab-inner label {
  font-weight: 400;
}

.accordion-tab .tab-inner .tab-content ul {
  margin: 0;
  padding: 0;
}

.accordion-tab .tab-inner .tab-content ul li {
  list-style-type: none;
}

.accordion-tab .tab-inner .accordion-tab-content ul li .checkBox label {
  background-color: transparent;
  text-transform: capitalize;
  padding-left: 0;
  margin: 0;
}

.accordion-tab .tab-inner .accordion-tab-content ul li .checkBox label:after {
  content: "";
}

.accordion-tab .accordion-tab-input:checked~.accordion-tab-content {
  max-height: 50em;
  visibility: visible;
  overflow: auto;
}

.accordion-tab-input:checked+.accordion-tab-label {
  background-color: #eee;
}

.accordion-tab .accordion-tab-label::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.accordion-tab .accordion-tab-input[type=checkbox]+.accordion-tab-label::after {
  font-family: "FontAwesome";
  content: "";
}

.accordion-tab .accordion-tab-input[type=checkbox]:checked+.accordion-tab-label::after {
  transform: rotate(180deg);
}

/*
.checkbox-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label {
  position: relative;
}

.checkbox-custom+.checkbox-custom-label:before {
  content: "";
  background: transparent;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
  content: "";
  font-family: "FontAwesome";
  color: #3498db;
  line-height: 10px;
} */
