  <div {{ attributes }}>

    <input class="accordion-tab-input" type="checkbox" id="{{ id }}"/>

    <label for="{{ id }}" class="accordion-tab-label" tabindex="0">
      {% if icon %}
        {{ icon | raw }}
      {% endif %}
      {{ title | striptags('<h1><h2><h3><h4><h5><h6><strong><em>') | raw }}
    </label>

    <div class="accordion-tab-content">
	  	{{ text | striptags('<h2><h3><h4><h5><h6><p><div><span><input><label><img><a><strong><em><ul><ol><li><br><drupal-media>') | raw }}
    </div>

  </div>
